---
instances:
  - name: "{{ nodeNameFront }}"
    ip:
      - "{{ nodeIPFront }}"
    dns:
      - "{{ nodeNameFront }}"
  - name: "{{ nodeName1 }}"
    ip:
      - "{{ nodeIP1 }}"
    dns:
      - "{{ nodeName1 }}"
  - name: "{{ nodeName2 }}"
    ip:
      - "{{ nodeIP2 }}"
    dns:
      - "{{ nodeName2 }}"
  - name: "{{ nodeName3 }}"
    ip:
      - "{{ nodeIP3 }}"
    dns:
      - "{{ nodeName3 }}"